In [9]:
import os

In [10]:
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

In [13]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

In [14]:
df = pd.read_csv('last_clean.csv',encoding="cp949")

In [15]:
df[['사고']]

       사고
0       1
1       1
2       1
3       0
4       1
...    ..
28935   0
28936   0
28937   1
28938   1
28939   0

[28940 rows x 1 columns]

In [16]:
y_data = df[['사고']]
y_data = y_data.astype(np.float32)
len(y_data)

28940

In [17]:
x_data = df.loc[:, ['유의파고','파향','최대파주기','풍속','풍향']]
x_data = x_data.astype(np.float32)
len(x_data)

28940

In [18]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [19]:
scaler = StandardScaler()
x_data_scaled = scaler.fit_transform(x_data) #변수들의 스케일 달라 맞춰주는 부분

In [20]:
encoder = OneHotEncoder()
y_data_encoded = encoder.fit_transform(y_data).toarray() #정답부분을 0,1로 하기위해 원핫인코딩사용

In [21]:
x_train, x_val, y_train, y_val = train_test_split(x_data_scaled, y_data_encoded, test_size=0.2, random_state=2021)
# 전체 사고+무사고 데이터를 8:2의 비율로 train과 validation 데이터셋으로 나눔

In [22]:
x_train.shape

(23152, 5)

In [23]:
y_train

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [1., 0.]])

In [24]:
y_train=y_train.astype(int)
y_train

array([[0, 1],
       [0, 1],
       [0, 1],
       ...,
       [0, 1],
       [0, 1],
       [1, 0]])

In [25]:
type(x_train[0][0])
type(y_train[0][0])

numpy.int64

In [26]:
import numpy
y_train=y_train.astype(numpy.float32)
type(y_train[0][0])

numpy.float32

In [28]:
from tensorflow.keras import optimizers
import tensorflow as tf
model = Sequential() #레이어를 선형으로 연결 구성

model.add(Dense(2,input_shape=(5,) , activation='sigmoid'))

#회귀분석이라 은닉층이 sigmoid 활성화함수를 통과하는 부분 밖에 없음

model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['acc'])
#이진분류를 할때 binary_crossentropy 사용, 
#데이터양이나 은닉층이 많아질수록 시간이 오래걸리니까 이를 고안해 경사하강법 사용
#sgd를 보완한 momentum과 adagrad의 단점을 보완한 RMSProp를 합친 Adam을 옵티마이저로 설정

In [29]:
from keras.callbacks import EarlyStopping, ModelCheckpoint

early_stop=EarlyStopping(monitor='val_loss',patience=1,verbose=1)
best = ModelCheckpoint('best_model',monitor='val_acc',mode='max',verbose=1)

#최적 모델을 best에 저장
#오버피팅을 막게 early_stop을함

model.fit(
    x_train,
    y_train,
    epochs=20,
    batch_size = 3,
    verbose=1,
    validation_data=(x_val, y_val), 
    callbacks=[early_stop,best]
)

2021-08-25 07:07:27.211775: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/20
7718/7718 [==============================] - 96s 12ms/step - loss: 0.6252 - acc: 0.6846 - val_loss: 0.6084 - val_acc: 0.6921

Epoch 00001: saving model to best_model

2021-08-25 07:09:04.224301: W tensorflow/python/util/util.cc:348] Sets are not currently considered sequences, but this may change in the future, so consider avoiding using them.

INFO:tensorflow:Assets written to: best_model/assets
Epoch 2/20
7718/7718 [==============================] - 69s 9ms/step - loss: 0.5929 - acc: 0.7078 - val_loss: 0.6022 - val_acc: 0.6996

Epoch 00002: saving model to best_model
INFO:tensorflow:Assets written to: best_model/assets
Epoch 3/20
7718/7718 [==============================] - 14s 2ms/step - loss: 0.5894 - acc: 0.7118 - val_loss: 0.6019 - val_acc: 0.6999

Epoch 00003: saving model to best_model
INFO:tensorflow:Assets written to: best_model/assets
Epoch 4/20
7718/7718 [==============================] - 10s 1ms/step - loss: 0.5887 - acc: 0.7120 - val_loss: 0.6019 - val_acc: 0.7009

Epoch 00004: saving model to best_model
INFO:tensorflow:Assets written to: best_model/assets
Epoch 5/20
7718/7718 [==============================] - 59s 8ms/step - loss: 0.5886 - acc: 0.7119 - val_loss: 0.6013 - val_acc: 0.6987

Epoch 00005: saving model to best_model
INFO:tensorflow:Assets written to: best_model/assets
Epoch 6/20
7718/7718 [==============================] - 97s 13ms/step - loss: 0.5886 - acc: 0.7119 - val_loss: 0.6013 - val_acc: 0.7009

Epoch 00006: saving model to best_model
INFO:tensorflow:Assets written to: best_model/assets
Epoch 00006: early stopping

In [30]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 2)                 12
=================================================================
Total params: 12
Trainable params: 12
Non-trainable params: 0
_________________________________________________________________

In [31]:
from tensorflow.keras.models import load_model
loaded_model = load_model('best_model')
print('\n테스트 정확도 : %.4f'%(loaded_model.evaluate(x_val,y_val)[1]))

181/181 [==============================] - 0s 920us/step - loss: 0.6013 - acc: 0.7009

테스트 정확도 : 0.7009

In [33]:

result=loaded_model.predict(x_val, verbose=1)
print(result)

181/181 [==============================] - 3s 16ms/step
[[0.391347   0.6086199 ]
 [0.6579072  0.34196514]
 [0.3252672  0.6746106 ]
 ...
 [0.36288747 0.63725775]
 [0.4413921  0.5587609 ]
 [0.1683003  0.8315213 ]]

In [34]:
import json
import time

In [35]:
result = pd.DataFrame(result)

In [36]:
result_df = pd.DataFrame({
    'trench_num':list(range(0,5788)),
    'loss':result[:][0],
    'acc' : result[:][0]
    })

In [ ]:
result_json = result_df.to_json(orient= 'table')
ob = json.loads(result_json)
with open("result_json.json", "w") as outfile:
    json.dump(ob, outfile, sort_keys=True, indent =4)

In [37]:
from sqlalchemy import create_engine
import pymysql

In [38]:
db_connection_str = 'mysql+pymysql://admin:hanium123!@database-1.caua660cnte5.ap-northeast-2.rds.amazonaws.com/dongjun-test-db'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [39]:
result_df

      trench_num      loss       acc
0              0  0.391347  0.391347
1              1  0.657907  0.657907
2              2  0.325267  0.325267
3              3  0.611837  0.611837
4              4  0.715274  0.715274
...          ...       ...       ...
5783        5783  0.574697  0.574697
5784        5784  0.664713  0.664713
5785        5785  0.362887  0.362887
5786        5786  0.441392  0.441392
5787        5787  0.168300  0.168300

[5788 rows x 3 columns]

In [ ]:
dtypesql = {'trench_num':sqlalchemy.types.integer, 
          'loss':sqlalchemy.types.float, 
          'acc':sqlalchemy.types.float,  
}

result_df.to_sql(name='ml_result', con=db_connection, if_exists='append',index=False)