In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('NWP_해구별예측_20210827155754.csv',encoding="cp949")

In [20]:
df2 = pd.read_csv('해구별좌표.csv',encoding="cp949")
df2

      대해구 번호      경도     위도
0          1  131.75  42.75
1          2  130.25  42.25
2          3  130.75  42.25
3          4  131.25  42.25
4          5  131.75  42.25
...      ...     ...    ...
1260    8135  137.75  44.75
1261    8136  138.25  44.75
1262    8137  138.75  44.75
1263    8138  139.25  44.75
1264    8139  139.75  44.75

[1265 rows x 3 columns]

In [3]:
df2 = pd.DataFrame({
    "trench_num" : df2["대해구 번호"],
    'longitude' : df2["경도"],
    'latitude' : df2["위도"]
})

      해구번호  유의파고(m)  파향(deg)  최대파주기(sec)  풍속(m/s)  풍향(deg)
0        1      1.2      149         7.7      6.6      150
1        2      1.3      121         7.6      3.4      211
2        3      1.3      122         7.6      4.1      213
3        4      1.4      123         7.6      3.1      179
4        5      1.5      123         7.5      5.7      146
...    ...      ...      ...         ...      ...      ...
1326  8300   -999.0     -999      -999.0   -999.0     -999
1327  8301      0.3      177         6.7      6.8      162
1328  8302      0.8      180         8.2      6.9      147
1329  8303      0.6      134         7.6      2.9      187
1330  8304      1.1      143         7.6      5.3      152

[1331 rows x 6 columns]

In [7]:
x_data = df.loc[:, ['유의파고(m)','파향(deg)','최대파주기(sec)','풍속(m/s)','풍향(deg)']]
x_data = x_data.astype(np.float32)
trench_num = df.loc[:, ["해구번호"]]

In [8]:
from tensorflow.keras.models import load_model
loaded_model = load_model('best_model')

2021-08-28 10:43:07.418074: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2021-08-28 10:43:07.418117: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2021-08-28 10:43:11.017612: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcuda.so.1'; dlerror: libcuda.so.1: cannot open shared object file: No such file or directory
2021-08-28 10:43:11.017666: W tensorflow/stream_executor/cuda/cuda_driver.cc:269] failed call to cuInit: UNKNOWN ERROR (303)
2021-08-28 10:43:11.017693: I tensorflow/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (ip-172-31-5-249): /proc/driver/nvidia/version does not exist
2021-08-28 10:43:11.018038: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [9]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_data_scaled = scaler.fit_transform(x_data)

In [14]:
result=loaded_model.predict(x_data_scaled, verbose=1)
result = pd.DataFrame(result)

42/42 [==============================] - 0s 685us/step

In [16]:
loaded_model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 2)                 12
=================================================================
Total params: 12
Trainable params: 12
Non-trainable params: 0
_________________________________________________________________

In [1]:
from sqlalchemy import create_engine
import pymysql

In [11]:
db_connection_str = 'mysql+pymysql://admin:hanium123!@database-1.caua660cnte5.ap-northeast-2.rds.amazonaws.com/dongjun-test-db'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [19]:
import sqlalchemy

result_df = pd.DataFrame({
    "trench_num" : trench_num["해구번호"],
    'loss' : result[0],
    'acc' : result[1]
})

dtypesql = {'trench_num':sqlalchemy.types.Integer(), 
          'loss':sqlalchemy.types.Float(), 
          'acc':sqlalchemy.types.Float(),  
}
# replace = 테이블 삭제후 재생성
result_df.to_sql(name='ml_result', con=db_connection, if_exists='replace',index=False)